
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

		body {
			background-color: #434343;
			font-family: Poppins,sans-serif;
		}
		h1 {
			color: #000000;
			text-align: center;
		}
		nav {
			background-color: black;
			color: #000000;
			text-align: center;
			padding: 10px;
		}
		nav a {
			color: #FF8F37;
			text-decoration: none;
			margin-right: 20px;
			font-size: 20px;
		}
		section {
			margin: 30px;
			padding: 10px;
			background-color: #f78018;
			color: white;
			text-align: center;
		}
		img {
			display: flex;
			margin: auto;
			width: 50%;
		}
	

section .container{
    margin: 100px;
}
section h1{
    font-size: 60px;
    
}

section h2{
    font-size: 40px;
}

.img-p1{
    width: 300px;
}

.img-p2{
    width: 300px;
}

.img-p3{
    width: 300px;
    height: 400px;
}

.img-t1{
    width: 300px;
    height: 400px;
}

.img-t2{
    width: 300px;
    height: 350px;
}

.img-t3{
    width: 300px;
    height: 500px;
}

section .cards{
    display: flex;
}
  
  section .cards .text-card{
    background: #434343;
    margin: 40px;
    padding: 40px;
    box-shadow: 0 0 3px rgba(0,0,0,0,0.5);
    flex: 10 1 10em;
  }
  
  section .cards .text-card h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  @media (max-width: 900px){
    section h1{
      font-size: 40px;
    }
  
    section .cards{
      flex-direction: column;
    }
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }